**Case Study: for loops**

In [4]:
prices = [ '1.0', 'negotiable', '2.15' ];

[ '1.0', 'negotiable', '2.15' ]

Consider this function, which converts an array of strings into floating point numbers, but only the values that are actually numbers:

In [7]:
function getFormattedPrices(prices) {
    const formattedPrices = [];
    for (let price of prices) {
        const priceFloat = parseFloat(price);
        if (priceFloat) {
            formattedPrices.push(priceFloat);
        }
    }
    return formattedPrices;
}

In [8]:
getFormattedPrices(prices);

[ 1, 2.15 ]

Even though this is a simple function, it takes multiple lines and several variable declarations.

Array methods are a great way to get clean predictable code with no unnecessary
data. They can be hard to understand at first, but once you master them you'll find your code better than ever.

In [9]:
team = [
    { name: 'melinda', position: 'designer' },
    { name: 'katie', position: 'strategist' },
    { name: 'mary', position: 'developer' },
    { name: 'justin', position: 'manager' },
    { name: 'chris', position: 'developer' },
]

[
  { name: 'melinda', position: 'designer' },
  { name: 'katie', position: 'strategist' },
  { name: 'mary', position: 'developer' },
  { name: 'justin', position: 'manager' },
  { name: 'chris', position: 'developer' }
]

The most popular array methods change either the size of the array or the shape of the data in the array. So for this array, it has a size of five objects. Every object in the array has a shape: a `name` and a `position`.

So this is how we could convert `getFormattedPrices()` to use array methods:

In [10]:
function getFormattedPrices(prices) {
    return prices
        .map((price) => parseFloat(price))
        .filter((price) => price);
}

In [11]:
getFormattedPrices(prices);

[ 1, 2.15 ]

### filter()

- **Action**: Changes the size, but not the shape.
- **Example**: Get the developers.
- **Result**: `[{name: 'mary', position: 'developer'}, {name: 'chris', position:'developer'}]`

In [12]:
function isDeveloper(person) {
    return person.position === 'developer';
}

You can pass an existing function as an argument:

In [13]:
team.filter(isDeveloper);

[
  { name: 'mary', position: 'developer' },
  { name: 'chris', position: 'developer' }
]

Or create a new function to pass as an argument:

In [14]:
team.filter((person) => person.position === 'developer');

[
  { name: 'mary', position: 'developer' },
  { name: 'chris', position: 'developer' }
]

### map()

- **Action**: Changes the shape, but not the size.
- **Example**: Get the name of everyone on the team.
- **Result**: `['melinda', 'katie', 'mary', 'justin', 'chris']`

In [15]:
team.map((person) => person.name)

[ 'melinda', 'katie', 'mary', 'justin', 'chris' ]

You can use `map` with the Map data type by first using the spread operator:

In [16]:
teamMap = new Map()
    .set(1647482, { name: 'melinda', position: 'designer' })
    .set(2474043, { name: 'katie', position: 'strategist' })
    .set(3242536, { name: 'mary', position: 'developer' })
    .set(4522356, { name: 'justin', position: 'manager' })
    .set(5248092, { name: 'chris', position: 'developer' });

Map {
  1647482 => { name: 'melinda', position: 'designer' },
  2474043 => { name: 'katie', position: 'strategist' },
  3242536 => { name: 'mary', position: 'developer' },
  4522356 => { name: 'justin', position: 'manager' },
  5248092 => { name: 'chris', position: 'developer' }
}

In [18]:
[...teamMap].map(([id, person]) => {
    return `Employee ID ${id}: ${person.name}, ${person.position}`;
});

[
  'Employee ID 1647482: melinda, designer',
  'Employee ID 2474043: katie, strategist',
  'Employee ID 3242536: mary, developer',
  'Employee ID 4522356: justin, manager',
  'Employee ID 5248092: chris, developer'
]

### find()

- **Action**: Changes the size to exactly one, but not the shape. Does *not* return an array
- **Example**: Get the manager.
- **Result**: `{ name: 'justin', position: 'manager' }`

In [19]:
team.find((person) => person.position === 'manager');

{ name: 'justin', position: 'manager' }

### Method Chaining

In [6]:
someData
    .filter((num) => num % 2 === 0) // returns [ 6, 4, 2 ]
    .map((num) => num * 2) // returns [ 12, 8, 4 ]
    .every((num) => num > 10) // returns false

false

### Reduce

In [7]:
someData.reduce(function(accumulator, num) {
    return accumulator * num
}, 5);

32400

### forEach

In [8]:
someData.forEach(function(num) {
    console.log(num * 3)
})

18
27
12
9
15
6

### for of

You can use for-of to loop over arrays:

In [9]:
for (const num of someData) {
    console.log(num * 3)
}

18
27
12
9
15
6

You can use it to loop over maps. The item you get from the iterator is a pair of the key-value:

In [12]:
filters = new Map()
    .set('breed', 'labrador')
    .set('size', 'large')
    .set('color', 'chocolate');

Map {
  'breed' => 'labrador',
  'size' => 'large',
  'color' => 'chocolate'
}

In [13]:
for (const entry of filters) {
    console.log(entry);
}

[ 'breed', 'labrador' ]
[ 'size', 'large' ]
[ 'color', 'chocolate' ]

You can use it to loop over sets:

In [10]:
dataSet = new Set(someData);

Set { 6, 9, 4, 3, 5, 2 }

In [11]:
for (const num of someData) {
    console.log(num * 3);
}

18
27
12
9
15
6

### for in

Don't **ever** use "for in" loops